
<div class="col-lg-12">
     <h2> Select offering from list:</h2> 
</div><br><br><br>
    <article class="col-lg-12">
        <sa-datatable [options]="dtOptions" paginationLength="true" tableClass="table table-striped table-bordered table-hover" width="100%"
            *ngIf="!reRenderTable">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
        </sa-datatable>

    </article>
