<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <h1>SmartAdmin Angular 2
                    <i>lite</i>
                </h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur beatae corporis dignissimos doloremque
                    eaque eum modi, quia reprehenderit unde voluptatem.</p>
            </div>
        </div>
    </div> -->

    <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div sa-widget>
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2>Bar Data</h2>
            </header>
            <div class="widget-body" style="display: block">
                  <canvas baseChart
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType" ></canvas>
                </div>
                <!-- <button (click)="randomize()">Update</button> -->           
        </div>
    </article>

    <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div sa-widget>
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2>Bar Data</h2>
            </header>
            <div class="widget-body" style="display: block"> 
                <canvas baseChart
                            [datasets]="lineChartDataSet"
                            [labels]="lineChartLabels"
                            [options]="lineChartOptions"
                            [chartType]="lineChartType"></canvas>
              </div>
        </div>
    </article>

    <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div sa-widget>
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2>Offerings Status</h2>
            </header>
            <div class="widget-body" style="display: block">
                <!-- <sa-chart-js type="doughnut" [dataset]="datasetsOfferings"></sa-chart-js> -->
                <!-- <canvas class="chart chart-doughnut" chart-data="dataOfferings" chart-labels="labelsOfferings"
                   chart-dataset="datasetsOfferings"></canvas>  -->
                   <!-- chart-colors="colors" -->
                <!-- <canvas baseChart [labels]="labelsOfferings" [datasets]="datasetsOfferings" [colors]="colorsUndefined" [chartType]="typeOfferings">
                </canvas> -->
                <canvas baseChart
                    [datasets]="datasetsOfferings"
                    [labels]="labelsOfferings"
                    [chartType]="doughnutChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </article>



    <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div sa-widget>
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2>Bar Data</h2>
            </header>
            <div class="widget-body" style="display: block">          
                  <canvas baseChart
                          [datasets]="barChartDataSetsSingleLine"
                          [labels]="barChartLabelsSingleLine"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType" ></canvas>
                </div>
                <!-- <button (click)="randomize()">Update</button> -->              
        </div>
    </article>

    <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div sa-widget>
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2>Offerings Segments</h2>
            </header>
            <div class="widget-body" style="display: block">
                <canvas  baseChart [labels]="labelsOfferingsSegment" [datasets]="datasetsOfferingsSegment" [colors]="colorsUndefined"
                    [chartType]="doughnutChartType">
                </canvas>
                <!-- <canvas class="chart chart-doughnut" chart-data="dataOfferings" chart-labels="labelsOfferings"
                   chart-dataset-override="datasetsOfferings"></canvas>  -->
            </div>
        </div>
    </article>


    <article class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div sa-widget>
            <header>
                <span class="widget-icon">
                    <i class="fa fa-bar-chart-o"></i>
                </span>
                <h2>Offerings Sales Channels</h2>
            </header>
            <div class="widget-body" style="display: block">
                <canvas width="100%" baseChart [labels]="labelsOfferingsSalesChannel" [datasets]="datasetsOfferingsSalesChannel" [colors]="colorsUndefined"
                    [chartType]="doughnutChartType">
                </canvas> 
                <!-- <canvas class="chart chart-doughnut" chart-data="dataOfferings" chart-labels="labelsOfferings"
                   chart-dataset-override="datasetsOfferings"></canvas>  -->
            </div>
        </div>
    </article>

</div>