<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Offering', 'List']" icon="table"
                            class="col-xs-12 col-sm-9 col-md-9 col-lg-9"></sa-big-breadcrumbs>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <a routerLink="/offering/offering-create"
               class="btn btn-primary btn-lg pull-right header-btn hidden-mobile">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        </div>
    </div>

    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="darken">
                    <header>
                        <span class="widget-icon">
                        <i class="fa fa-table"></i>
                        </span>
                        <h2>Offering List</h2>
                    </header>
                    <div>
                        <sa-datatable [options]="options" tableClass="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>id</th>
                                <th>name</th>
                                <th>desc</th>
                            </tr>
                            </thead>
                        </sa-datatable>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>